.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
  
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  /* background-color: red; */
}

.productForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-right: 5px;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft >select{
  margin-bottom: 10px;
}

.productUploadImg{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.productFormRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload{
  display: flex;
  width: 300px;
  height: 300px;
  align-items: center;
}
.productPic{
  display: flex;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
}

.productButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color:white;
  font-weight: 600;
  cursor: pointer;
}
.wholeSaleDiv{
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 1s;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);

}
.wholeSalePair{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}
.wholeSaleItem{
  width: 20%;
  display: flex;
  flex-direction: column;  
  margin-bottom: 10px;
 
}
.wholeSaleItem input{  
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.leftInput input{
text-align: right;
}
.wholesaleText{  
  margin: 10px;
  margin-top: auto;
}
.txtArea{
  width: 100%;
}
.catDivs{
  margin: 10px;
}
.morePhotosContainer{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: red;
}
.extraPhotosBox{
  width: 40px;
  height: 40px;
  margin: auto;
  background-color: blue;
}
.extraPhoto{
 max-width: 100%;
  max-height: 100%;
}